@model Candidate
@using FoodBankApplication.Controllers

<h1 class="text-white text-center bg-primary mt-3 p-3" style=box-shadow: 4px 2px 5px 0px rgba(0,0,0,0.75) !important;>Add Candidate</h1>

<form method="post" id="formCandidate">
    <div class="container-fluid">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row">
            <div class="col-6">
                <div class="mb-2">
                    <label asp-for="Name">Name</label>
                    <input tabindex="1" asp-for="Name" class="form-control" />
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="mb-2">
                    <label asp-for="Gender">Gender</label>
                    <select tabindex="3" class="form-control" asp-for="Gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                    <span class="text-danger" asp-validation-for="Gender"></span>
                </div>
                <div class="mb-2">
                    <label asp-for="IDNumber">ID Number</label>
                    <input tabindex="5" asp-for="IDNumber" class="form-control" />
                    <span class="text-danger" asp-validation-for="IDNumber"></span>
                </div>
                <div class="mb-2">
                    <label asp-for="AddressLine1">Street Address</label>
                    <input tabindex="7" asp-for="AddressLine1" class="form-control" />
                    <span class="text-danger" asp-validation-for="AddressLine1"></span>
                </div>
                <div class="mb-2">
                    <label asp-for="City.Description">City</label>
                    <select asp-for="CityId" asp-items="ViewBag.Cities" class="form-control" tabindex="9"></select> 
                    <span class="text-danger" asp-validation-for="City.Id"></span>
                </div>
                <div class="mb-2">
                    <label asp-for="PostalCode">Postal Code</label>
                    <input tabindex="11" asp-for="PostalCode" class="form-control" />
                    <span class="text-danger" asp-validation-for="PostalCode"></span>
                </div>
                <div class="mb-2">
                    <label asp-for="HighSchoolGrade.Description">Highest School Grade </label>
                    <select asp-for="HighSchoolGradeId" asp-items="ViewBag.HighSchoolGrades" tabindex="13" class="form-control"></select>
                    <span class="text-danger" asp-validation-for="HighSchoolGradeId"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="OtherGrant">Other Grants</label>
                    <textarea tabindex="15" asp-for="OtherGrant" class="form-control"></textarea>
                    <span class="text-danger" asp-validation-for="OtherGrant"></span>
                </div>
                <div class="form-check form-check-inline form-switch mb-2">
                    <input type="checkbox" asp-for="IsDisabled" class="form-check-input" />
                    <label tabindex="17" asp-for="IsDisabled">Disabled</label>
                    <span class="text-danger" asp-validation-for="IsDisabled"></span>                       
                </div>
                <div class="form-check form-check-inline form-switch mb-2">
                    <input type="checkbox" asp-for="DriverLicense" class="form-check-input" />
                    <label tabindex="17" asp-for="DriverLicense">Driver's License</label>
                    <span class="text-danger" asp-validation-for="DriverLicense"></span>
                </div>
                <div class="form-check form-check-inline form-switch mb-2">
                    <input type="checkbox" asp-for="ChildSupportGrant" class="form-check-input" />
                    <label tabindex="17" asp-for="ChildSupportGrant">Child Support Grant</label>
                    <span class="text-danger" asp-validation-for="ChildSupportGrant"></span>
                </div>
            </div>
            <div class="col-6">
                    <div class="mb-2">
                        <label asp-for="Surname">Surname</label>
                        <input tabIndex="2" asp-for="Surname" class="form-control" />
                    <span class="text-danger" asp-validation-for="Surname"></span>
                    </div>
                    <div class="mb-2">
                        <label asp-for="DOB">Date Of Birth</label>
                        <input tabIndex="4" type="Date" asp-for="DOB" class="form-control" />
                    </div>
                <div class="mb-2">
                    <label asp-for="AddressLine2">Suburb</label>
                    <input tabIndex="6" asp-for="AddressLine2" class="form-control" />
                    <span class="text-danger" asp-validation-for="AddressLine2"></span>
                </div>
                <div class="mb-2">
                    <label asp-for="Province.Description">Province</label>
                    <select tabIndex="8" class="form-control" asp-for="ProvinceId" asp-items="@ViewBag.Provinces">
                    </select>
                    <span class="text-danger" asp-validation-for="Province.Id"></span>
                </div>
                <div class="mb-2">
                    <label asp-for="ContactNumber">Contact Number</label>
                    <input tabindex="10" asp-for="ContactNumber" class="form-control" />
                    <span class="text-danger" asp-validation-for="ContactNumber"></span>
                </div>
                <div class="mb-2">
                    <label asp-for="Region">Region</label>
                    <input tabindex="12" asp-for="Region" class="form-control" />
                    <span class="text-danger" asp-validation-for="Region"></span>
                </div>
                <div class="mb-2">
                    <label asp-for="Municipality">Municipality</label>
                    @* <div class="input-group"> *@
                        @* <input tabindex="12" type="text" id="municipality" class="form-control" /> *@
                        @* <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#municipalityModal"><i class="fa-solid fa-magnifying-glass"></i></button> *@
                    @* </div> *@
                    <select tabIndex="12" class="form-control" asp-for="MunicipalityId" asp-items="@ViewBag.Municipalities">
                    </select>
                    <span class="text-danger" asp-validation-for="Region"></span>
                </div>
                <div class="mb-2">
                    <label asp-for="Comment">Comment</label>
                    <textarea tabindex="14" asp-for="Comment" class="form-control" cols="5"></textarea>
                    <span class="text-danger" asp-validation-for="Comment"></span>
                </div>
                <div class="mb-2">
                    <label asp-for="DesiredCareerPathComment">Desire Career Path </label>
                    <textarea tabindex="16" asp-for="DesiredCareerPathComment" class="form-control"></textarea>
                    <span class="text-danger" asp-validation-for="DesiredCareerPathComment"></span>
                </div>
            </div>
        </div>
        <div class="mt-2">
            <button type="submit" class="btn btn-primary btn-lg">Save <i class="fa-regular fa-floppy-disk"></i></button>
            <button type="button" id="clearForm" class="btn btn-secondary btn-lg">Clear <i class="fa-solid fa-eraser"></i></button>
        </div>
    </div>
</form>

<div class="modal" id="municipalityModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Choose Municipality</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-white">
                <ul class="list-group">
                    @foreach(var item in ViewBag.Municipalities)
                    {
                        <li class="list-group-item list-group-item-primary municipality" style="cursor: pointer;">
                                @((item as Municipality)?.Description ?? "")        
                        </li>   
                        
                    }
                </ul>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>


<script>
    let allInputs = document.querySelectorAll('input');
    let allTextArea = document.querySelectorAll('textarea');
    let allSelect = document.querySelectorAll('select');
    let clearBtn = document.querySelector('#clearForm');
    let form = document.getElementById('formCandidate');

    clearBtn.addEventListener('click', ()=>{
        //console.log(form);
        form.reset();
        //console.log(form);
    })

    allInputs.forEach((item)=>{
        console.log(item.classList);
        if (item.classList.contains('input-validation-error')){
            item.classList.remove('input-validation-error');
            item.classList.add("is-invalid");
        }
    });
    allTextArea.forEach((item) => {
        if (item.classList.contains('input-validation-error')) {
            item.classList.remove('input-validation-error');
            item.classList.add("is-invalid");
        }
    });
    allSelect.forEach((item) => {
        if (item.classList.contains('input-validation-error')) {
            item.classList.remove('input-validation-error');
            item.classList.add("is-invalid");
        }
    });

    allInputs.forEach(item => {
        item.addEventListener('change', ()=>{
            if(item.value.length > 1){
                item.classList.remove('input-validation-error');
                item.classList.remove('is-invalid');
                item.classList.add("is-valid");
            }else{
                item.classList.add('is-invalid');
            }
        })
    });

    allTextArea.forEach(item => {
        item.addEventListener('change', () => {
            if (item.value.length > 1) {
                item.classList.remove('input-validation-error');
                item.classList.remove('is-invalid');
                item.classList.add("is-valid");
            } else {
                item.classList.add('is-invalid');
            }
        })
    });

    //---------------------------Municipalities Modal---------------------------------
    document.addEventListener('DOMContentLoaded', ()=>{
        let municipalitiesList = document.querySelectorAll('.municipality');
        let municipalityTextbox = document.getElementById('municipality');
        let municipalityModal = new bootstrap.Modal('#municipalityModal');
        
        for(let i = 0; i < municipalitiesList.length; i++){
            municipalitiesList[i].addEventListener('click', function(){
                console.log(this.textContent.trim());
                municipalityTextbox.value = this.textContent.trim();
                municipalityTextbox.focus();
                municipalityModal.hide();
            });
        }
    });

    document.getElementById('DOB').defaultValue = new Date().toDateString();
    
</script>