@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3 class="bg-success text-white text-center p-3 mt-2">Welcome to the foodbank Application</h3>