
<div style="width: 100%; height: 600px;">
    <reportviewer>
        server-url="@ViewBag.ReportServerUrl"
        report-path="@ViewBag.ReportPath"
        asp-append-version="true"
        size-to-report-content="true"
        toolbar-visible="true"
        show-find-controls="true">
    </reportviewer>
</div>