<div class="container">
    <div class="row">
        <div class="col-10 mb-1">
            <a class="btn btn-outline-primary w-100">City</a>
        </div>
    </div>
    <div class="row">
        <div class="col-10 mb-1">
            <a class="btn btn-outline-primary w-100">Province</a>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-10">
            <a class="btn btn-outline-primary w-100">Municipality</a>
        </div>
    </div>
</div>