@model User
@*@{
    Layout = "";
}*@

<ul class="nav nav-tabs mt-2">
    <li class="nav-item">
        <a class="nav-link" asp-action="Index">All Users <i class="fa-solid fa-users"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-action="Register">Add User <i class="fa-solid fa-user-plus"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Edit">Edit User <i class="fa-solid fa-user-pen"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Delete">Delete User <i class="fa-solid fa-trash-alt"></i></a>
    </li>
</ul>

<h3 class="bg-primary text-center text-white p-4 rounded-1">Login <i class="fa-regular fa-user"></i> </h3>

<form method="post">
    @if(ViewContext.ModelState.Count > 0){
        <div class="alert alert-danger" asp-validation-summary="All"></div>
    }    
    <div class="mb-2">
        <label asp-for="@Model.Email">Username</label>
        <input class="form-control" asp-for="@Model.Email" />
    </div>
    <div class="mb-2">
        <label asp-for="@Model.Password">Password</label>
        <div class="input-group">
            <input class="form-control w-75" type="password" asp-for="@Model.Password" />
            <button type="button" id="showPassword" class="btn btn-outline-info" data-bs-title="Show/Hide Password" data-bs-toggle="tooltip"><i class="fa-regular fa-eye"></i></button>
        </div>
    </div>
    <div>
        <button class="btn btn-outline-primary">Login <i class="fa-solid fa-location-arrow"></i></button>
        <a class="btn-link float-end" asp-action="forgotPassword">Forgot Password?</a>
    </div>
</form>

<script>
    let showPasswordBtn = document.getElementById('showPassword');
    let passwordInput = document.querySelectorAll('input[type="password"]');
    let toolTip = document.querySelector('[data-bs-toggle="tooltip"]');
    //new bootstrap.Tooltip(toolTip);


    showPasswordBtn.addEventListener('click', ()=>{
        console.log('ÁddEventhandler');
        console.log(toolTip);        
        const type = passwordInput[1].getAttribute('type');
        passwordInput[1].setAttribute('type', type === 'password' ? 'text' : 'password');
        //}        
    });
</script>